html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}
body{
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

*,*:before,*:after{
    box-sizing: border-box;
}

header{
    display: flex;;
    height: 60px;
    background: #2B2A3D;
    border: 0;
    justify-content: space-between;
}

.left-header{
    justify-content: center;
    display: flex;
    align-items: center;
    padding-right: 20px;
}



.filters-logo{
    color: #fff;
    margin: 0 10px 0 0;
}

.flex-filter-item{
    position: relative;
    display: flex;
    flex-direction: column;
}

.filter{
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin: 0 10px;
    opacity: .75;
    transition: .1s;
}

.filter:hover{
    opacity: 1;
}

.icon-user-name{
    background-image: url(img/filter-icon-userName.svg);
}
.icon-date{
    background-image: url(img/filter-icon-date.svg);
}
.icon-text{
    background-image: url(img/filter-icon-text.svg);
}

.mid-header{
    display: flex;
    align-self: center;
    margin-left: 30px;
}

.back-for-filter{
    position: absolute;
    display: none;
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    top: 3rem;
    left: -3rem;
    z-index: 100;
}


.input{
    border-radius: 5px;
    padding: 3px;
    width: 140px;
}   

#label-user-name:checked~.back-for-filter{
    display: flex;
}

#label-date:checked~.back-for-filter{
    display: block;
}

#label-text:checked~.back-for-filter{
    display: block;
}


input{
    outline: none;
}

.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    margin: 0 10px;
    padding: 5px;
    font-size: 1.4em;
    text-align: center;
}

.right-header{
    justify-content: center;
    display: flex;
    width: 18%;
    align-items: center;
    padding-right: 20px;
    color: #fff;
    font-size: 1.25em;
}

.UserName{
    color: #fff;
    font-size: 1.25em;
}

.autoreg{
    cursor: pointer;  
    opacity: .75;  
    color: #fff;
}

.autoreg:hover{
    opacity: 1;  
}

.btn-exit{
    display: none;
    border: transparent;
    background: transparent;
    color: #9A9A9A;
    font-size: 1.25em;
    cursor: pointer;
    outline: none;
    margin: 0 0 0 10px;
    transition: all .1s linear;
}

.btn-exit:hover{
    color: #fff;
}
.container{
    display: flex;
    height: calc(100% - 140px);
    min-width: 375px;
}

.container-block{
    /* display: flex; */
    /* height: 100%;
    width: 100%; */
    /* flex: 1; */
}

.left-aside{
    display: flex;
    flex-direction: column;
    width: 250px;
    min-width: 150px;
    background: #2B2A3D;
}

.chat-items{
    display: flex;
    align-items: center;
    height: 60px;
    background: #2B2A3D;
}

.selected-chat-item{
    background: #36374F;
    box-shadow: 1px 2px 10px 0px rgba(5, 45, 34, .75);
    border: 1px solid transparent;
}

.main-img{
    margin: 5px;
}

.chatName{
    color: #fff;
}


.chat{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    background-color: #36374F;
    width: 100%;
    height: 100%;
    /* height: 100%; */
}

.chat-space{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    background: #36374F;
    padding: 5px;
    overflow-y: auto;
}

.chat-space::-webkit-scrollbar{
    width: 8px;
    opacity: 0.5;
    color: #000;
}

.chat-space::-webkit-scrollbar-thumb{
    background: #2B2A3D;
    border-radius: 15px;
    opacity: 0.5;
}

.loud-flex{
    display: flex;
    justify-content: center;

}

.loud-more{
    margin-top: 10px;
    display: block;
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    opacity: 1;
    transition: all .1s ease-in-out;
    padding: 10px 10px 10px 10px;
}

.add-mes{
    position: relative;
    top: 20px;
    color: #fff;
}


hr{
    margin-top: 15px;
    display: block;
    /* border: none; */
    height: 1px;
    width: 100%;
    /* background-color: rgb(172, 172, 172); */
    background: #fff;
    opacity: .5;
}

.stick{
    position: sticky;
    bottom: -50px;
}

.date-history{
    display: flex;
    justify-content: center;
    width: 100px;
    position: relative;
    bottom: -32px;
    left: calc(50% - 50px);
    padding: 5px 15px;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 16px;
    font-weight: bold;  
}

.message-item{
    display: flex;
    padding: 5px;
}

.icon{
    margin: 0 10px;
}

.icon img{
    height: 35px;
    width: 35px;
    background: #2DAE00;
    border-radius: 50%;
}

.flex-info-message{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-message{
    margin-bottom: 5px;
}

.info-message-name{
    display: inline;
    color: #fff;
}

.info-message-time{
    display: inline;
    font-weight: 300;
    color: #fff;
    font-size: .8em;
    opacity: .8;
    margin-left: 10px;
}

.text-message{
    display: inline;
    background: #AFAFAF;
    border-radius: 5px;
    width: fit-content;
    max-width: 75%;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, .25);
    padding: 5px;
}

.your-mes{
    background: #fff;
    transition: .1s;
    display: inline;
    border-radius: 5px;
        width: fit-content;
    max-width: 75%;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, .25);
    padding: 5px;
}

.your-mes:hover{
    background: #DCDCDC;
}

.message-space{
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    background: #2B2A3D;
    box-shadow: inset 1px 2px 10px 0px rgba(0, 0, 0, .25);
}

.message{
    display: flex;
    width: 100%;
    height: 100%;
    background: #36374F;
    border: 0;
    border-radius: 25px;
    padding-left: 10px;
    color: #fff;
}

.btn-send{
    position: absolute;
    right: 25px;
    top: 10px;
    width: 26px;
    height: 20px;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    background-image: url(img/btn-send.svg);
    fill: #2DAE00;
}

.icon-send{
    display: block;
    height: 100%;
    width: 100%;
    fill: #636363;
}

.right-aside{
    display: flex;;
    flex-direction: column;
    width: 250px;
    min-width: 150px;
    background: #3A3543;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.right-aside::-webkit-scrollbar{
    width: 0px;
}

.right-aside span{
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.online-icon{
    display: block;
    width: 8px;
    height: 8px;
    background: #2DAE00;
    border-radius: 50%;
    margin-right: 10px;
}

.online-item{
    display: flex;
    align-items: center;
}

.online-name{
    display: flex;
    color: #fff;
}

footer{
    position: fixed;
    display: block;
    bottom: 0;
    border: 0;
    height: 80px;
    width: 100%;
    background: #36374F;
}

footer p{
    color: #fff;
    font-size: .75em;
    text-align: center;
    margin: 5px;
}

.burger{
    display: none;
}

    #little-main-logo{
        display: none;
    }


@media (max-width: 767px){
    .UserName,.btn-exit,#link-auti-reg{
        display: none;
    }
    .burger{
        display: block;
        background: none;
        border: 0;
        padding: 9px 2px;
        margin-right: 5px;
        cursor: pointer;
    }

    .bugreg__item{
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        font-size: 0;
        color: transparent;
        position: relative;

    }

    .bugreg__item:before,
    .bugreg__item:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    .bugreg__item:before{
        top: -8px;
    }


    .bugreg__item:after{
        bottom: -8px;
    }
    .right-aside{
        display: none;
    }
}

@media (max-width: 600px){
    #big-main-logo{
        display: none;
    }

    #little-main-logo{
        display: block;
    }
}

@media (max-width: 375px){
    .left-aside{
        display: none;
    }
}